<div class="listing-artist">
    <div class="container">
        <h1 class="mt-4">Art Gallery</h1>

        <hr>

        <div class="d-flex align-items-center mb-4">
            <div class="flex-grow-1"> <div class="form-group mt-3">
                    <input type="number" class="form-control" id="searchBox" placeholder="Enter artist ID">
                </div>
            </div>
            <button class="btn btn-info mt-2 ms-3 p-2" onclick="searchArtistById()">Search</button>
        </div>
    </div>
</div>